<div id="<%= dom_id telegram %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= telegram.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Surname:</strong>
    <%= telegram.surname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= telegram.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= telegram.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= telegram.user_id %>
  </p>

</div>
