<div id="<%= dom_id card_number %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= card_number.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= card_number.created_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expire at:</strong>
    <%= card_number.expire_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= card_number.user_id %>
  </p>

  <% if card_number.email.present? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Email:</strong>
      <%= card_number.email %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform:</strong>
    <%= card_number.platforms.pluck(:text_code) %>
  </p>

</div>
