<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <p class="text-gray-500 text-sm mb-5"><%= pluralize(@card_numbers.count, "card numbers") %></p>
  <% content_for :title, "Card numbers" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Card numbers</h1>
    <%= link_to "New card number", new_card_number_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="card_numbers" class="min-w-full">
    <% @card_numbers.each do |card_number| %>
      <%= render card_number %>
      <p>
        <%= link_to "Show this card number", card_number, class: "ml-2 rounded-lg py-3 px-5 bg-red-100 inline-block font-medium" %>
        <%= link_to "User", card_number.user, class: "ml-2 rounded-lg py-3 px-5 bg-green-100 inline-block font-medium" %>
        <%= link_to "Telegram", card_number.telegram, class: "ml-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium" %>

      </p>
    <% end %>
  </div>
</div>
