<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User ID:</strong>
    <%= user.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ads power profile:</strong>
    <%= user.ads_power_profile_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ads power sequence:</strong>
    <%= user.ads_power_sequence_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= user.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= user.group_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subgroup:</strong>
    <%= user.subgroup_id %>
  </p>

</div>
